.barChart {
  stroke: black;
  fill: yellowgreen;
  stroke-width: 0.3;
}

.barText {
  font-size: 8px;
  writing-mode: vertical-lr;
  /* -webkit-text-orientation: mixed; */
  transform: rotate(180deg);
  text-anchor: start;
}

.axisGrey line {
  stroke: #0000008a;
}

.axisGrey path {
  stroke: #0000008a;
}

.axisGrey text {
  fill: #0000008a;
}

.xAxis text {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  transform: rotate(-180deg);
  text-anchor: end;
  fill: #3a4cb1;
}
.grid line {
  stroke: #e4e0e0;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}
